/* @override http://mattbischoff.github.com/css/screen.css */

/* elements */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	color: #000;
	line-height: 1.4em;
	margin: 20px auto 18px 25%;
	font-family: Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	text-align: left;
}

a:link {
	text-decoration: underline;
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
	color: #fff;
	background-color: #000;
	text-decoration: underline;
}

a img {
	border-width: 0;
}

blockquote {
	border-left: 1px solid #222;
	line-height: 18px;
	font-size: 11pt;
	

/*

font-style: italic;*/
	margin: 20px;
	padding-left: 10px;
	border-bottom-color: #fff;
}

code {
	font-family: 'DejaVu Sans Mono', 'Courier New', monospace;
	font-size: 12pt;
}

h1, h2, h3, #footer {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-weight: bolder;
	letter-spacing: -1px;
}

h1 {
	font-size: 26px;
	line-height: 28px;
	margin-bottom: 18px;
}

h2 {
	font-size: 20px;
	line-height: 22px;
	margin-bottom: 18px;
}

h3 {
	font-size: 18px;
	line-height: 20px;
}

li {
	margin-bottom: 4px;
}

p, ul, ol {
	margin-bottom: 18px;
}

ul, ol {
	margin-left: 2em;
}

ul {
	list-style-type: square;
}

/* classes */

.post {
	border-bottom: 1px solid #222;
	margin-bottom: 36px;
}

.post p {
	font-size: 13pt;
	line-height: 26px;
}

.post .signoff {
	font-size: 10pt;
	/*font-style: italic;*/
	text-align: right;
}

/* ids */

#footer {
	font-size: 18px;
	text-align: center;
}

#intro {
	color: #ccc;
	font-size: 22pt;
	margin-bottom: 24pt;
	font-weight: bold;
}

#subtitle, #title {
	color: #333;
	font-weight: bold;
}

#subtitle {
	font-size: 24pt;
}

#title {
	font-size: 28pt;
}

#wrapper {
	

/*

max-width: 40em;
	min-width: 30em;*/
	width: 32em;
}

/* @group Span Styles */

a.podcastpeople {
	font-weight: bold;
	color: #df4200;
}

a.tumblr {
	font-weight: bold;
	color: #24292e;
}

a.flickr {
	font-weight: bold;
	color: #ff0083;
}

a.twitter {
	font-weight: bold;
	color: #6cd8f6;
}

a.lastfm {
	font-weight: bold;
	color: #d51d39;
}

a.rss {
	font-family: Helvetica;
	color: #8a8a8a;
}

a.claimid {
	font-weight: bold;
	color: #aadc00;
}

a.sjprep {
	font-weight: bold;
	color: #9d0000;
}

a.sarah {
	font-weight: bold;
	color: #7d7d7d;
}

a.delicious {
	font-weight: bold;
	color: #000aff;
}

a.black {
	font-weight: bold;
	color: black;
}

a.amazon {
	font-weight: bold;
	color: #ed931f;
}

a.things {
	font-weight: bold;
	color: #4176a6;
}

a.places {
	font-weight: bold;
	color: #3c98c9;
}

a.people {
	color: #709564;
	font-weight: bold;
}

a.email {
	font-weight: bold;
	color: #2d75bb;
}

a.skype {
	font-weight: bold;
	color: #45aeec;
}

a.aim {
	font-weight: bold;
	color: #d85533;
}

a.digg {
	font-weight: bold;
	color: #3c5929;
}

a.google {
	color: #386ec3;
	font-weight: bold;
}

a.vimeo {
	color: #0dadd6;
	font-weight: bold;
}
/* @end */