<div class="long-form-post">
  {% include datetime.html post=post %}

  <a href="{{ include.post.url }}">
    <h2 class="post-title">
      {{ include.post.title }}
    </h2>
  </a>

  {% if include.post.content contains "<!-- more -->" %}
    {{ include.post.content | split:"<!-- more -->" | first % }}
    <div class="read-more">
      <a href="{{ include.post.url }}"> Read More </a>
    </div>
    <div style="display: none;">
      {{ include.post.content | split:"<!-- more -->" | last % }}
    </div>
  {% else %}
    {{ include.post.content }}
  {% endif %}
  {% include category_and_tags.html post=post %}
</div>