<header>
  {% include metadata.html post=include.post %}

      <h1>
        <a href="{{ include.post.url }}">
        {{ include.post.title }}
        </a>
      </h1>
</header>

{% if include.post.content contains "<!-- more -->" %}
{{ include.post.content | split:"<!-- more -->" | first % }}
<div class="read-more">
  <a class="button-secondary" href="{{ include.post.url }}">{{ post.content | number_of_words | divided_by: 180 }} min read <i class="fa-solid fa-circle-arrow-right fa-sm"></i></a>
</div>
<div style="display: none;">
  {{ include.post.content | split:"<!-- more -->" | last % }}
</div>
{% else %}
{{ include.post.content }}
{% endif %}
