---
title: Feedback
layout: default
position: 7
image: "/uploads/feedback-crushed.jpg"
icon: fa-message-exclamation

redirect_from: /radars/
---

{% include page-header.html %}

<!-- TODO: Move to SCSS component -->
<style>
	.feedback {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.feedback thead,
	.feedback tbody,
	.feedback tr {
		display: flex;
		width: 100%;
	}

	.feedback th,
	.feedback td {
		flex: 1;
	}

	.feedback .nowrap {
		white-space: nowrap;
		flex: 1;
	}

	.feedback .wrap {
		flex: 4;
		/* ¼ of the table */
	}
</style>

		<p>This page collects the <s>radars</s> <a href="https://developer.apple.com/bug-reporting/">feedback</a> I’ve submitted to Apple over the years. While the Feedback system is <a href="https://fixradarorgtfo.com">far from perfect</a>, it’s still the best <small class="text-secondary">(and only)</small> way I have at affecting change in the products and platforms I use every day. 🫡</p>


<div class="feedback">
	<table class="borderless">
		<thead>
			<tr>
				<th class="wrap"><i class="fa-regular fa-satellite-dish fa-sm"></i> Open</th>
				<th class="nowrap"><i class="fa-regular fa-calendar fa-sm"></i> Date</th>
			</tr>
		</thead>
		<tbody>
			{% for feedback in site.feedback %}
			{% if feedback.resolution == "Open" %}
			<tr>
				<td class="wrap"><a class="accent-underlined" href="{{ feedback.url }}">{{ feedback.title }}</a></td>
				<td class="nowrap"><time class="small text-secondary" datetime="{{ post.date | date_to_xmlschema }}">{{ feedback.date | date: "%Y · %m · %d" }}</time></td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>

	<table class="borderless">
		<thead>
			<tr>
				<th class="wrap"><i class="fa-regular fa-circle-check fa-sm"></i> Closed</th>
				<th class="nowrap"><i class="fa-regular fa-calendar fa-sm"></i> Date</th>
			</tr>
		</thead>
		<tbody>
			{% for feedback in site.feedback %}
			{% if feedback.resolution != "Open" %}
			<tr>
				<td class="wrap"><a class="accent-underlined" href="{{ feedback.url }}">{{ feedback.title }}</a></td>
				<td class="nowrap"><time class="small text-secondary" datetime="{{ post.date | date_to_xmlschema }}">{{ feedback.date | date: "%Y · %m · %d" }}</time></td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>