html {
	font-family: "Helvetia Neue", "Helvetica";
	text-rendering: optimizeLegibility;
}

body {
	color: #101010;
	background: #f9f9f9;
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: 200;
    font-size:160%;
    line-height:1.125em;

	margin: 80px 15%;
	
}


@media screen and (max-device-width: 480px){
	body {
		margin: 10px 10%;
	}
}

.highlighted {
	background: rgba(234,255,0,0.56)
}

.inline-image {
	vertical-align: middle;
	
}

.circular-avatar {
	vertical-align: middle;
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(avatar.jpg) no-repeat;
}


h1, h2 {
	font-size: 300%;
	line-height: 125%;
	font-weight: 100;
}

a[href] {
	color: inherit;
	font-weight: 400;
	text-decoration: none;
	
	-o-transition:opacity .5s;
	-ms-transition:opacity .5s;
	-moz-transition:opacity .5s;
	-webkit-transition:opacity .5s;
	/* ...and now for the proper property */
	transition:opacity .5s;
}

a:active {
	opacity: 0.5; /* css standard */
    filter: alpha(opacity=50); /* internet explorer */
} 

a:hover { 
	opacity: 0.5; /* css standard */
    filter: alpha(opacity=50); /* internet explorer */
}

.lickability {
  background: -webkit-linear-gradient(#cb4d47, #9b202d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.get-excited {
	color: #17a450 !important;
/* 	border-bottom: 1px solid #17a450 !important; */
}

.twitter {
	color: rgb(0, 132, 180) !important;
}

.tumblr {
	color: #324e69 !important;
}

.pinboard {
	color: rgb(0, 0, 255) !important;
}

.facebook {
	color: rgb(59, 89, 152) !important;
}

.github {
	color: #373737 !important;
}