body {
	text-align: left;
	color: #212121;
	font: 1.2em Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
}

div#container {
	margin-left: auto;
	margin-right: auto;
	width: 35em;
	text-align: left;
	margin-top: 3px;
}

div#footer {
	background-color: #000;
	color: #fff;
	padding: 5px;
}

#footer p.footer a {
	color: #fff;
	font-style: normal;
	text-decoration: underline;
	font-weight: normal;
}

p.footer {
	font: .8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 0.31em;
	margin: 0;
}

p {
	font: 1.1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


ul {
	display: block;
	margin: 1em 0px;
	margin-top: 1em;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
	display: block;
	font: 1.05em/1.25em "Lucida Grande", Lucida, Verdana, sans-serif;
	width: 20em;
	list-style-type: none;
	padding: 0;
}

h1 {
	text-align: left;
	color: black;
	font: normal normal 2em Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
}


h2 {
	
/*font: bold 1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
	
	text-align: left;
	color: black;
	font: normal normal 1.5em Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
}


/* @group Links
 */

a {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

a:hover {
	font-variant: normal;
	text-decoration: none;
	border-bottom-style: solid;
}

a:active {color: #fff;
	background-color: #000;
}*/   /* selected link */

h1 a {
	text-decoration: none;
	color: black;
}

a.arrow {
	text-decoration: none;
}

a.google {
	color: #03c;
}

a.tumblr {
	color: #3e5b76;
}

a.flickr {
	color: #ff0083;
}

a.readernaut{
	color: #2c2c28;
}

a.twitter {
	color: #32c3f4;
}

a.vimeo {
	color: #0dadd6;
}

a.lastfm {
	color: #d51d39;
}

a.sjprep {
	color: #9d0000;
}

a.delicious {
	color: #000aff;
}


a.facebook {
	color: white;
	background-color: #3b5998;
	border: 0.13em solid #3b5998;
}

a.amazon {
	color: #ed931f;
}

a.google {
	font-weight: bold;
}

a.hypertexty
{
}

a.njit
{
	color: #c00;
}

/* @end */