body {
	text-align: left;
	color: #212121;
	font: 1.2em Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	background-color: #d5d5d5;
}

div#container {
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	text-align: left;
	background-color: #fffeff;
	padding: 10px;
	border: 50px double #d5d5d5;
}

div#footer {
	background-color: #000;
	color: #fff;
	padding: 5px;
}

#footer p.footer a {
	color: #fff;
}

p.footer {
	padding: 0.31em;
	margin: 0;
	font: .6em Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
}

p {
	font: 1.15em/1.35em Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
}


ul {
	display: block;
	margin: 1em 0px;
	margin-top: 1em;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
	display: block;
	font: 1.05em/1.25em "Lucida Grande", Lucida, Verdana, sans-serif;
	width: 20em;
	list-style-type: none;
	padding: 0;
}

h1 {
	text-align: left;
	color: black;
	font: normal normal 2em Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
}


h2 {
	
/*font: bold 1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
	
	text-align: left;
	color: black;
	font: normal normal 1.5em Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
}


/* @group Links
 */

a {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

a:hover {
	font-variant: normal;
	text-decoration: none;
	border-bottom-style: solid;
}

a.google {
	color: #03c;
}

a.tumblr {
	color: #3e5b76;
}

a.flickr {
	color: #ff0083;
}

a.readernaut{
	color: #2c2c28;
}

a.twitter {
	color: #569abc;
}

a.yelp {
	color: #c41200;
}

a.lastfm {
	color: #d51d39;
}

a.sjprep {
	color: #9d0000;
}

a.pinboard {
	color: #3770fa;
}

a.facebook {
	color: #3b5998;
}

a.amazon {
	color: #ed931f;
}


a.podcastpeople
{
	color: #ff9000;
}

a.njit
{
	color: #c00;
}

/* @end */