html {
  font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 300;
}

body {
    background-color: #F7F7F7;
}

strong {
	font-weight: 500;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 700; 
  
  line-height: 1.5;
}

p {
	margin-bottom: 1.5rem;
}

.container {
  max-width: 38rem;
}

.post p a {
	color: inherit;
	text-decoration: underline;
}

.post p a:hover {
	color: #0083DB;
	text-decoration: underline;
}

a:hover,
a:focus {
	text-decoration: none;
}

.masthead-title {
	font-size: 50px;
	font-family: 'Verlag A', 'Verlag B';
	font-weight: 700; 	
}
