html {
  font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
}

strong {
	font-weight: 500;
}

a {
	color:  #0083DB;
}

h1 {
	font-family: 'Verlag A', 'Verlag B'; font-weight: 700; 
}

.masthead {
}

.masthead-title {
	font-size: 40px;
	font-family: 'Verlag A', 'Verlag B';
	font-weight: 700; 	
}