html {
  font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16x;
  line-height: 1.7;
  font-weight: 300;
}

body {
    background-color: #f2f2f2;
}

strong {
	font-weight: 500;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 700; 
  
  line-height: 1.5;
}

p {
	margin-bottom: 1.5rem;
}

/* Full Page */

.container {
  max-width: 38rem;
}

footer {
	text-align: center;
	margin-bottom: 2rem;
}

/* Masthead */

.masthead {
  margin-bottom: 0em;
}

.masthead-title, .masthead-title a {
	font-size: 44px;
	font-family: 'Verlag A', 'Verlag B';
	font-weight: 700; 	
	color: black;
}

/* Posts */

.post p a {
	color: inherit;
	text-decoration: underline;
}

/*
.post p a:hover {
	color: #0083DB;
	text-decoration: underline;
}
*/

a:hover,
a:focus {
	text-decoration: none;
}

hr {	
    border-top: 1px solid #ccc;
    border-bottom: none;

}
