<p class="categories-and-tags">
  {% if include.post.categories != empty %}
    <strong>Filed to</strong>: 

    {% comment %}
      This is to get the comma position right. Numbers (i.e., years) come first after sorting.
      So the last category will always be a non-year, thus the "unless forloop.last" thing will work
    {% endcomment %}
    {% assign sorted_category =  include.post.categories | sort %}

    {% for category in sorted_category %}
      {% if category contains "20" and category | size == 4 %}

      {% else %}
        <a href="/category/{{ category }}">{{ category | capitalize}}</a>{% unless forloop.last == true %}, {% endunless %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if include.post.tags != empty %}
    {% if include.post.categories != empty %} • {% endif %}
    <strong>Tags</strong>:

    {% for tag in include.post.tags %}
      <span class="post-tag">#{{ tag }}</span>{% unless forloop.last == true %}, {% endunless %}
    {% endfor %}
  {% endif %}
</p>
