<p class="categories-and-tags">
  {% if include.post.categories != empty %}
    <strong>Filed to</strong>: 

    {% for category in include.post.categories %}
      <a href="/category/{{ category }}">{{ category | capitalize}}</a>{% unless forloop.last == true %}, {% endunless %}
    {% endfor %}
  {% endif %}

  {% if include.post.tags != empty %}
    {% if include.post.categories != empty %} • {% endif %}
    <strong>Tags</strong>: 

    {% for tag in include.post.tags %}
      <span class="post-tag">#{{ tag }}</span>{% unless forloop.last == true %}, {% endunless %}
    {% endfor %}
  {% endif %}
</p>
