<footer>
  <div class="legal">
  <p class="license">
    <a href="/" class="initials">mb</a>
    <i class="cc cc-cc"></i> {{ site.license.copyright }} • <a
      href="{{ site.license.url }}"
      title="Creative Commons Attribution-ShareAlike 4.0 International">
      {{ site.license.text }}</a>
    </p>    
    
    <!-- TODO: Make this an include. -->
    <div>
      <!-- <p> -->
      <a href="#top" class="button-borderlesss">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm-.75-4.75a.75.75 0 0 0 1.5 0V8.66l1.95 2.1a.75.75 0 1 0 1.1-1.02l-3.25-3.5a.75.75 0 0 0-1.1 0L6.2 9.74a.75.75 0 1 0 1.1 1.02l1.95-2.1v4.59Z" clip-rule="evenodd"/>
        </svg>top</a>
      <!-- </p> -->
    <div class="switch">
      <label for="toggle-grid">
       <!-- Custom dot grid svg icon -->
       <svg width="24px" height="24px" viewBox="0 0 24 24" aria-hidden="true">
           <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
               <g transform="translate(4.5, 4.5)" fill="currentColor">
                   <circle id="Oval" cx="1.5" cy="1.5" r="1.5"></circle>
                   <circle id="Oval" cx="7.5" cy="1.5" r="1.5"></circle>
                   <circle id="Oval" cx="13.5" cy="1.5" r="1.5"></circle>
                   <circle id="Oval" cx="1.5" cy="7.5" r="1.5"></circle>
                   <circle id="Oval" cx="7.5" cy="7.5" r="1.5"></circle>
                   <circle id="Oval" cx="13.5" cy="7.5" r="1.5"></circle>
                   <circle id="Oval" cx="1.5" cy="13.5" r="1.5"></circle>
                   <circle id="Oval" cx="7.5" cy="13.5" r="1.5"></circle>
                   <circle id="Oval" cx="13.5" cy="13.5" r="1.5"></circle>
               </g>
           </g>
       </svg>
     </label>
      <input type="checkbox" id="toggle-grid" class="toggle" checked="" aria-label="Toggle dot grid" />
    </div>
    </div>
  </div>
</footer>
