<footer>
  <div class="legal">
  <p class="license">
    <a href="/" class="initials">mb</a>
    <i class="fa-brands fa-creative-commons"></i> {{ site.license.copyright }} • <a
      href="{{ site.license.url }}"
      title="Creative Commons Attribution-ShareAlike 4.0 International">
      {{ site.license.text }}</a>
    </p>    
    
    <!-- TODO: Make this an include. -->
    <div>
      <!-- <p> -->
      <a href="#top" class="button-borderlesss">
       <i class="fa-solid fa-circle-arrow-up fa-lg"></i>
        </svg>top</a>
      <!-- </p> -->
    <div class="switch">
      <label for="toggle-grid">
       <!-- Custom dot grid svg icon -->
       <i class="fa-regular fa-grid fa-lg"></i>
     </label>
      <input type="checkbox" id="toggle-grid" class="toggle" checked="" aria-label="Toggle dot grid" />
    </div>
    </div>
  </div>
</footer>
