<header>
  <a href="{{ site.url }}">
    <picture>
      <source srcset="{{ "/assets/images/avatar.webp" | relative_url }}"
      type="image/webp"> <source srcset="{{ "/assets/images/avatar.jpeg" |
      relative_url }}" type="image/jpeg"> <img class="avatar" alt="Matthew
      Bischoff’s Avatar" width="352" height="352" src="{{
      "/assets/images/avatar.jpeg" | relative_url }}">
    </picture>
  </a>
  <a href="{{ site.url }}"><h1>{{ site.text_content.header_title }}</h1></a>
  <p>{{ site.text_content.subtitle }}</p>
</header>
