<header id="masthead">
  {% include nav.html %}

  <div class="identity">
  <h1 class="initials"><a href="/">{{ site.header.title }}</a></h1>  
  
  <picture>
    <source srcset="/assets/images/avatar-225.webp" type="image/webp">
    <source srcset="/assets/images/avatar-225.jpeg" type="image/jpeg">
    <img class="avatar"
      alt="A photo of mb bischoff in a red lip and leather jacket."
      width="225"
      loading="lazy"
      height="225"
      src="/assets/images/avatar-225.jpeg"
      >
  </picture>
  </div>

  <p>{{ site.header.subtitle }}</p>
  
  <section class="buttons">
  <a class="button" href="/feed"><i class="fa-solid fa-rss"></i>rss</a>
  <a class="button" href="https://buttondown.email/mb/"><i class="fa-regular fa-envelope"></i>subscribe</a>
  <a class="button" href="https://x.com/mb/"><i class="fa-brands fa-x-twitter"></i>mb</a>
  <!-- <a class="button" href="https://mastodon.social/@matthewbischoff"><i class="fa-brands fa-mastodon"></i>mastodon</a> -->
  </section>
</header>
