<div class="posts">
  <noscript>
    {% if page.category %}
      {% for post in site.categories[page.category] %}

        <article class="post">
          {% if post.format == "tweet" %}
            {% include post_types/short.html %}
          {% elsif post.format == "link" %}
            {% include post_types/link.html %}
          {% else %}
            {% include post_types/long.html %}
          {% endif%}
        </article>

      {% endfor %}
    {% else %}
      {% for post in paginator.posts %}

        <article class="post">
          {% if post.format == "tweet" %}
            {% include post_types/short.html %}
          {% elsif post.format == "link" %}
            {% include post_types/link.html %}
          {% else %}
            {% include post_types/long.html %}
          {% endif%}
        </article>

      {% endfor %}
    {% endif %}
  </noscript>
</div>
