$background-black: #0B0012;
$text-blue: #1E9FD3;
$grey-date: rgba(255, 255, 255, 0.6);
$text-white: #EAEEF7;

$red: #D31E1E;
$dark-red: #580B0B;

$purple: #DB00B9;
$dark-purple: #4F0844;

$violet: #751ED3;
$dark-violet: #1D0735;

$blue: #1E2BD3;
$dark-blue: #0A0E41;

$cyan: #1ED3CB;
$dark-cyan: #0A3B39;

$green: #33D31E;
$dark-green: #0E2310;

$min-desktop-width: 700px;
$max-mobile-width: $min-desktop-width;