@use 'sass:math';
@use 'variables' as *;

@mixin dot-grid {
	background-size: 1rlh 1rlh;
	background-position-x: math.div(1rlh, 2);
	background-position-y: math.div(1rlh, 2);
	background-image: var(--gridlines);
}