---
---

/* || Variables */

$max-width: 65ch;

$font-size-base: 17px;
$line-height-multiple: 1.5;
$font-stack: "halyard-text-variable", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

$spacing-xs: 0.25rem; // 4
$spacing-s: 0.5rem; // 8
$spacing-m: 1rem; // 16
$spacing-l: 1.5rem; // 24
$spacing-xl: 2rem; // 32
$spacing-xxl: 2.5rem; // 40

/* || General Styles */

* {
  box-sizing: border-box;
}

:root {
  font-size: $font-size-base;
  font-variation-settings: "wght" 370;
  line-height: $line-height-multiple;
  font-family: $font-stack;
}

body {
  margin: 0 auto;
  padding: 0 $spacing-xl;
  
  max-width: $max-width;
    
  header {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: lowercase;
    }
  }
}

main {
}

/* || Media */

img {
  max-width: 100%;
  height: auto;
}

audio {
  width: 100%;
  display: block;
}

video {
  width: 100%;
  height: auto !important;
}

.video-wrapper {
  margin: var(--spacing-s) auto;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* || Lists */

// Hang top-level ordered and unordered lists. https://markboulton.co.uk/journal/five-simple-steps-to-better-typography-part-2/
*:not(li)>ul, *:not(li)>ol  {
  padding: 0;
  list-style-position: outside;
}
