@use 'abstracts/mixins' as *;

img {
	max-width: 100%;
	block-size: auto;
	margin-block: 1rlh;

	border-radius: 0.5em;

	&.inline {
		display: inline;
		border-radius: none;

		margin-block: 0;
		margin-inline: auto;
		height: auto;
		max-height: 1lh;
		vertical-align: middle;
	}

	&.crop-top {
		object-position: 50% 10%;
	}

	&.crop-middle {
		object-position: 50% 50%;
	}

	&.crop-bottom {
		object-position: 50% 90%;
	}
}

figure {
	margin-block: 1lh;

	img {
		margin-block: 0;
	}

	figcaption {
		@include italicised();

		display: block;
		text-align: end;
		line-height: 1lh;
		color: var(--text-secondary);
		font-size: var(--step--1);
	}

}


main {
	&img {
		max-width: 108%;
		margin-inline: -4%;

		// max-height: 14rlh; TODO: Force a certain number of lines. Perhaps it should differ on desktop / mobile. Maybe it should have utility classes that give me options.
		//object-fit: cover;
	}
}

audio {
	//TODO: Center
}

video {}

iframe {
	border: none;
}

.video-wrapper {
	margin: var(--spacing-s) auto;
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	/* 16:9 */
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.center {
	margin-inline: auto;
}