@use 'sass:math';

.nav-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-inline-end: 0.5rlh; // TODO: Pull into variable
}

.nav-icon {
    height: 1rlh;
    width: 1rlh;
    margin-inline-end: calc(1/3 * 1rlh); // TODO: Pull into variable
    flex: 0 0 auto;
    max-width: 1rlh; // 24px natural size from heroicons.
}

.nav-title {
    display: inline-block;
    flex: 0 1 auto;
    text-align: center;
}