@use 'abstracts/variables' as *;

@media (prefers-color-scheme: dark) {
	body {
		background-color: $dark-mode-background;
		color: $dark-mode-text;
	}

	header#masthead {
		color: $dark-mode-text-emphasized;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $dark-mode-text-emphasized;
	}

	a {
		color: $dark-mode-text-emphasized;

		transition: 0.1s linear;
		text-decoration-color: $dark-mode-link-underline;

		&:hover {
			color: $dark-mode-accent;
			transition: 0.1s linear;
			text-decoration-color: $dark-mode-accent;
		}
	}
}

ul.posts {
	li {
		time {
			color: $dark-mode-text-secondary;
		}
	}
}