@use 'abstracts/variables' as *;
@use "sass:map";

body {
	background-color: var(--background);
	color: var(--text)
}

header#masthead {
	color: var(--text-emphasized);

	nav {
		border-color: var(--link-underline);

		a {
			&.active {
				color: var(--accent);
			}
		}
	}

	p {
		a {
			color: var(--text-emphasized);

			&:hover {
				color: var(--accent);

				text-decoration: underline;
			}
		}

		a.secondary {
			font-weight: var(--font-weight-normal);
		}
	}
}

h1,
h2,
h3 {
	color: var(--text-emphasized);
}

h4,
h5 {
	color: var(--text);
}

h5 {
	color: var(--text-secondary);
}

h6 {
	color: var(--text-secondary);
}

a {
	color: inherit;
	font-weight: var(--font-weight-semibold);
	text-decoration-color: var(--link-underline);

	transition-property: color, text-decoration-color;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;

	&:hover {
		color: var(--accent);
		text-decoration-color: var(--accent);
	}
}

hr {
	background-color: var(--text-secondary);
}

ul.posts,
ul.date-list {
	li {
		time {
			color: var(--text-secondary);
		}
	}
}

article {
	header {
		h1 {
			a {
				color: var(--accent);
			}
		}

		section.metadata {
			color: var(--text-secondary);
		}
	}

	section.tags {
		margin-block-start: 1rlh;
		font-size: var(--step--1);
		line-height: 1rlh;
		color: var(--text-secondary);

		&.tag {}

	}

	&.long {
		section.content {

			// End mark
			>p:last-of-type::after {
				color: var(--accent);
			}
		}
	}

	section.thanks {
		color: var(--text-secondary);
	}
}

details {
	summary {
		&::before {
			transform: rotate(0);
			background-color: var(--text-secondary);
			transition: .25s transform ease;
		}

		time {
			color: var(--text-secondary);
		}
	}
}

footer {
	border-color: var(--link-underline);
}


mark {
	// https://max.hn/thoughts/how-to-create-a-highlighter-marker-effect-in-css
	color: inherit;
	background: var(--highlight);
	margin: 0 -0.3em;
	border-radius: 0.7em 0.3em;
	padding: 0.15em 0.3em;

	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

blockquote {
	background: var(--background-secondary);
	border-color: var(--accent);
}

section.changelog {
	.commit {
		svg {
			color: var(--accent);
		}
	}
}

#markdown-toc {
	&::before {
		color: var(--text);
	}

	color: var(--text-secondary);

	li {
		a {
			&:hover {
				color: var(--accent);
				text-decoration-color: var(--accent);
			}
		}
	}
}

figure {
	figcaption {
		color: var(--text-secondary);
	}
}