<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div>
      {% include header.html %}

      <main class="wrapper">
        {{ content }}
      </main>

      <footer>
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. <a rel="license" href="{{ site.license.url }}">{{ site.license.text }}</a>. (<a href="{{ site.url }}/feed/">RSS</a>)
        </small>
      </footer>
    </div>
    <script src="/public/javascript/index.js"></script>
    {% include analytics.html %}
  </body>
</html>
