<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="The online writing of Matthew Bischoff" name="description" />
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Matthew Bischoff - Atom" href="http://feeds2.feedburner.com/al3x" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1 id="title">
      <a href="/about.html">Matthew Bischoff</a> is <a href="/" title="Home">here</a>.
    </h1>
    <h2 id="subtitle">
	about • twitter • flickr • last.fm • delicious
    </h2>
    <div id="wrapper">
      {{ content }}
      <div id="footer">
        <a href="/" title="Home">Home</a> &bull;
        <a href="/about.html" title="About the author and site">About</a> &bull;
        <a href="/archive.html" title="Archived writing">Archive</a> &bull;
      </div>
    </div>
  </body>
</html>