---
layout: default
image: /uploads/feedback.jpg
---

{% assign feedback_id = page.name | replace: page.ext, '' %}

<article class="feedback">
	<header>
		<div class="metadata">
			{% include datetime.html post=page %}
			&ensp;
			
			{% if feedback_id %}<a href="/feedback"><i class="fa-solid fa-message-exclamation fa-sm"></i> Feedback</a>

			&ensp;

			<a class="mono" href="applefeedback://{{ feedback_id }}"><i class="fa-solid fa-bug fa-sm"></i> {{ feedback_id }}</a> {% endif %}
			&ensp;
			
			{% if page.via %} {% include via.html post=page %}{% endif %}
		</div>

		<h1 class="page-title">{{ page.title }}</h1>

		<p>This page lists the <s>radars</s> <a href="https://developer.apple.com/bug-reporting/">feedback I’ve submitted to Apple over the years. While Apple’s Feedback system is <a href="https://fixradarorgtfo.com">far from perfect</a>, it’s still the best <small class="text-secondary">(and only)</small> way I have at affecting change in the products and platforms I use every day. 🫡</p>

		<p>
		<ul class="fa-ul text-secondary">
			{% if page.recent_similar_reports %}
			<li><span class="fa-li"><i class="fa-solid fa-solid fa-signal fa-sm" aria-hidden="true"></i></span> <strong>Similar Reports</strong>: {{ page.recent_similar_reports }}</li>
			{% endif %}

			{% if page.resolution %}
			<li><span class="fa-li">
					{% if page.resolution == "Open" %}
					<i class="fa-solid fa-satellite-dish fa-sm" aria-hidden="true"></i>
					{% elsif page.resolution == "Closed" %}
					<i class="fa-solid fa-check fa-sm" aria-hidden="true"></i>
					{% elsif page.resolution contains "Investigation complete" %}
					<i class="fa-solid fa-magnifying-glass-arrow-right fa-sm" aria-hidden="true"></i>
					{% else %}
					<i class="fa-solid fa-clipboard-question fa-sm" aria-hidden="true"></i>
					{% endif %}
				</span> <strong>Resolution</strong>: {{ page.resolution }}</li>
			{% endif %}

			{% if page.team %}
			<li><span class="fa-li">
				{% if page.team == "Personal" %}
				<i class="fa-solid fa-user fa-sm" aria-hidden="true"></i>
				{% else %}
				<i class="fa-solid fa-user-group fa-sm" aria-hidden="true"></i>
				{% endif %}
				
				
			</span><strong>Team</strong>: {{ page.team }}</li>
			{% endif %}


			{% if page.platform %}
			<li>
				<span class="fa-li">
					{% if page.platform == "iOS" %}
					<i class="fa-solid fa-mobile-notch fa-sm" aria-hidden="true"></i>
					{% elsif page.platform == "macOS" %}
					<i class="fa-solid fa-desktop fa-sm" aria-hidden="true"></i>
					{% elsif page.platform == "watchOS" %}
					<i class="fa-solid fa-watch-apple fa-sm" aria-hidden="true"></i>
					{% elsif page.platform == "tvOS" %}
					<i class="fa-solid fa-tv fa-sm" aria-hidden="true"></i>
					{% elsif page.platform == "iPadOS" %}
					<i class="fa-solid fa-tablet fa-sm" aria-hidden="true"></i>
					{% else %}
					<i class="fa-solid fa-laptop-mobile fa-sm" aria-hidden="true"></i>
					{% endif %}

				</span> <strong>Platform</strong>: {{ page.platform }}
			</li>
			{% endif %}

		</ul>
		</p>

	</header>

	<section class="content">
		{{ content }}
	</section>

	{% include thanks.html post=page %}
	{% include tags.html post=page %}
</article>