---
layout: default
---

<article class="post">
  {% if page.format == "tweet" %}
      <div class="short-form-post">
        <div class="color-{{ page.color }}"></div>
        <div class="color-dark-{{ page.color }}">
            <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: "%B %-d, %Y" }}</time>
          {{ page.content }}
        </div>
      </div>
  {% elsif page.format == "link" %}
       {% include /post_types/link.html post=page %}
  {% else %}
      {% include /post_types/long-expanded.html %}
  {% endif%}
</article>
