---
layout: default
---

<article class="post">
  {% if page.format == "tweet" %}
      <div class="short-form-post">
        <div class="color-{{ post.color }}"></div>
        <div class="color-dark-{{ post.color }}">
          {% include datetime.html %}
          {{ post.content }}
        </div>
      </div>
  {% elsif page.format == "link" %}
      <div class="short-form-post">
        <div class="color-{{ post.color }}"></div>
        <div class="color-dark-{{ post.color }}">
          {% include datetime.html %}
          {{ post.content }}
        </div>
      </div>
  {% else %}
      {% include /post_types/long-expanded.html %}
  {% endif%}
</article>
