article {
	header {
		display: grid;

		h1 {
			justify-self: start;

			a {
				text-decoration: none;
			}
		}

		time {
			font-size: var(--step--1);
			line-height: 1lh;

			justify-self: end;

			a {
				text-decoration: none;
			}
		}
	}
}