@use 'vendors/vertical-rhythm-reset' as vr;
@use 'abstracts/variables' as *;

footer {
	//@include vr.set($margin-top: 2);

	border-top: $border-thickness solid;

	text-transform: lowercase;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.switch {
		display: inline-flex;
		align-items: center;
	}
}