@use 'abstracts/variables' as *;

main~footer {
	padding-block: 1rlh;
	border-top: var(--border-thickness) solid var(--link-underline);
	color: var(--text-secondary);

	text-transform: lowercase;

	.legal {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.initials {
		display: block;
		font-size: var(--step-1);
		line-height: 1rlh;
	}

	p {
		font-size: var(--step--2);
		line-height: 1rlh;

		a {
			text-decoration: none;
		}
	}

	.switch {
		display: inline-flex;
		align-items: center;
	}
}