@use 'abstracts/variables' as *;

footer {
	padding-block: 1rlh;
	border-top: var(--border-thickness) solid;

	text-transform: lowercase;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.switch {
		display: inline-flex;
		align-items: center;
	}
}