@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

header#masthead {
	text-transform: lowercase;

	nav {
		padding-block: 1rlh;
		margin-block-end: 1rlh;
		border-bottom: var(--border-thickness) solid;
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
			font-weight: var(--font-weight-semibold);
			text-decoration: none;
		}
	}

	@keyframes pulse {

		0%,
		100% {
			@include fontVariations($casl: 1, $wght: var(--font-weight-black), $slnt: -10, $crsv: 1);

		}

		50% {
			@include fontVariations($casl: 1, $wght: var(--font-weight-bold), $slnt: -10, $crsv: 1);
		}
	}

	h1 {
		@include fontVariations($casl: 1, $slnt: -10, $crsv: 1);
		font-weight: var(--font-weight-black);

		margin-block: 0;
		transition: font-variation-settings 0.45s ease-in-out;

		&:hover {
			animation: pulse 0.9s ease-in-out infinite;
		}

		a {
			text-decoration: none;
		}
	}

	p {
		text-wrap: balance;
	}
}