@use 'vendors/vertical-rhythm-reset' as vr;
@use 'abstracts/variables' as *;

header#masthead {
	text-transform: lowercase;

	//@include vr.set($margin: 1 0);

	nav {
		//@include vr.set($padding-bottom: 1);
		border-bottom: $border-thickness solid;
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
			font-variation-settings: 'wght' 400;
			text-decoration: none;
		}

	}

	h1 {
		//@include vr.set($margin-bottom: 0, $margin-top: 1);
	}

	p {
		//@include vr.set($margin-top: 0);
	}
}