@use 'abstracts/variables' as *;

header#masthead {
	text-transform: lowercase;

	nav {
		padding-block: 1rlh;
		margin-block-end: 1rlh;
		border-bottom: $border-thickness solid;
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
			font-variation-settings: 'wght' 470;
			text-decoration: none;
		}
	}

	h1 {
		line-height: 2rlh;
		margin-block: 0;
	}
}