main {
	h2.page-subtitle {
		margin-block: 0;
	}
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-block-end: 1rlh;

	i {
		color: var(--text-secondary);
		margin-inline-start: 1em;
	}
}