@use 'vendors/vertical-rhythm-reset' as vr;
@use 'abstracts/mixins';

body {
	@include mixins.dot-grid;
	max-width: 65ch;
	
	margin: 0 auto;
	@include vr.set($padding: 0 1);
	
	header {
		@include vr.set($margin: 1 0);
		text-transform: lowercase;
		
		nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	
	footer {
		@include vr.set($margin-top: 1 0);
	}
	
	:has(input[name="toggle-grid"]:checked) {
		@include vr.grid();
	}
	
	
	:has(input[name="toggle-grid"]:not(:checked)) {}
}

main {}