@use 'vendors/vertical-rhythm-reset' as vr;
@use 'abstracts/mixins';

body {

	max-width: 696px;

	margin: 0 auto;

	// @include vr.grid(); Debugging
	//@include vr.set($padding: 0 1);
}

body:has(input[id="toggle-grid"]:checked) {
	@include mixins.dot-grid;
}

// Make headers one level smaller when they’re in the `main`.
main {
	h1 {
		// font-size: var(--s2);
		// line-height: 2rlh;
	}

	h2 {
		//@include vr.set($font-size: 2);
	}

	h3 {
		//@include vr.set($font-size: 1);
	}

	h4,
	h5,
	h6 {
		//@include vr.set($font-size: 0);
	}
}

ul.posts {
	li {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;

		time {
			@include vr.set($margin-left: 0.5, $font-size: -1);

			flex-shrink: 0;
			/* this ensures that the time will not shrink */
			white-space: nowrap;
			font-variant-numeric: tabular-nums;
		}
	}
}