@use 'vendors/vertical-rhythm-reset' as vr;
@use 'abstracts/variables' as *;

:root {
	font-size: 100%;
	// font-family: $text-font-stack;
	hanging-punctuation: first allow-end last; // https://chriscoyier.net/2023/11/27/the-hanging-punctuation-property-in-css/
}

body {
	background-image: linear-gradient(to bottom, #0ff 0, transparent 1px);
	background-repeat: repeat-y;
	background-size: 100% 1rem;

}

h1,
h2,
h3 {
	// font-family: $display-font-stack; // Big headers use the display version of the font.

	--baselines: 2.8;
	--beneath: 1;
	--baseline-shift: calc(calc(calc(var(--baselines) * 1rem) - 1cap) / 2);
	--baseline-push: calc(calc(var(--beneath) * 1rem) - var(--baseline-shift));

	line-height: calc(var(--baselines) * 1rem);

	margin: 0;
	padding: 0;

	padding-top: var(--baseline-shift);
	margin-bottom: var(--baseline-push);
}

h1 {
	// @include vr.set($font-size: 4);
}

h2 {
	// @include vr.set($font-size: 3);
}

h3 {
	// @include vr.set($font-size: 2);
}

h4 {
	// @include vr.set($font-size: 1);
}

h5,
h6 {
	// @include vr.set($font-size: 0);
}

// Hang top-level ordered and unordered lists. https://markboulton.co.uk/journal/five-simple-steps-to-better-typography-part-2/
*:not(li)>ul,
*:not(li)>ol {
	padding: 0;
	list-style-position: outside;
}

address {
	font-style: inherit;
}

blockquote {
	//@include vr.set($margin-left: -1, $padding-left: 1);

	border-left: $border-thickness solid;
}

hr {
	border: none;

	/* or any color you prefer */
	//@include vr.set($margin-left: 2, $margin-right: 2)
}

details {

	summary {

		list-style: none; // Hide default list marker
		cursor: pointer;
		position: relative; // Establishes position context for pseudo-element

		&::-webkit-details-marker {
			display: none; // Hide default arrow in browsers like Chrome or Safari
		}

		&::before {
			// @include vr.set($margin-left: -1);

			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 24px;
			height: 24px;
			mask-image: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon"><path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" /></svg>');
		}

		time {
			font-variant-numeric: tabular-nums;
			// @include vr.set($font-size: -1, $margin-right: 0.5);
		}
	}

	&[open] {
		//@include vr.set($margin-bottom: 1);
	}

	&[open] summary::before {
		transform: rotate(90deg); // Rotate icon when details are open
	}
}