@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;


/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,6,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	--step--2: clamp(0.64rem, 0.6549rem + -0.0192vi, 0.651rem);
	--step--1: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
	--step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
	--step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
	--step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
	--step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
	--step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
	--step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
	--step-6: clamp(3.3592rem, 2.8691rem + 2.4507vi, 4.7684rem);
}

:root {
	font-size: var(--step-0);
	line-height: 1.5em;

	--font-weight-normal: 500;
	--font-weight-semibold: 625;
	--font-weight-bold: 781;
	--font-weight-black: 976;

	font-family: 'Recursive', monospace;
	font-weight: var(--font-weight-normal);
	font-display: fallback;

	hanging-punctuation: first allow-end last; // https://chriscoyier.net/2023/11/27/the-hanging-punctuation-property-in-css/
}


pre {
	@include fontVariations($mono: 1);

	max-width: 100%;
	overflow: auto;
	background: var(--background-tertiary);
	border-radius: 0.5rlh;
	margin-inline: -1lh;
	padding: 1lh;

}

code {
	@include fontVariations($mono: 1);

	max-width: 100%;
	overflow: auto;
	border-radius: 0.5rlh;
	margin-inline: -1lh;
	padding: 1lh;

}

em,
i {
	@include fontVariations($slnt: -15)
}

strong, b {
	font-weight: var(--font-weight-semibold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	font-weight: var(--font-weight-bold);
	@include fontVariations($casl: 0, $slnt: 0, $crsv: 1);
}

h1 {
	font-size: var(--step-6);
	line-height: 3lh;
	margin-block: 1rlh;

}

h2 {
	font-size: var(--step-5);
	line-height: 2rlh;
	margin-block: 1rlh;
}

h3 {
	font-weight: var(--font-weight-normal);
	font-size: var(--step-4);
	line-height: 2rlh;
	margin-block: 1rlh;
}

h4 {
	font-weight: var(--font-weight-bold);
	font-size: var(--step-3);
	line-height: 1rlh;
	margin-block: 1rlh;
}

h5 {
	font-weight: var(--font-weight-semibold);
	font-size: var(--step-2);
	line-height: 1rlh;
	margin-block: 1rlh;
}


h6 {
	font-weight: var(--font-weight-normal);
	font-size: var(--step-1);
	line-height: 1rlh;
	margin-block: 1rlh;
}

small,
sub,
sup {
	// TOOD: Relace with contextual alternates.
	font-size: 0.875em;
}

sub,
sup {
	position: relative;
	line-height: 0;
}

small,
.small {
	font-size: var(--step--1);
	line-height: 1rlh;
}

dl {
	margin-block: 1lh;
}

dt {
	font-weight: var(--font-weight-semibold);
}

dd {
	margin-inline-start: 1lh;
}

// Hang top-level ordered and unordered lists. https://markboulton.co.uk/journal/five-simple-steps-to-better-typography-part-2/
*:not(li)>ul,
*:not(li)>ol {
	padding: 0;
	list-style-position: outside;
}

address {
	font-style: inherit;
}

blockquote {
	padding-block: 1lh;
	padding-inline: 1lh;

	// Remove top margin for the first paragraph and bottom margin for the last
	p {
		font-weight: var(--font-weight-semibold);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	margin-inline: -1rlh;
	border-left: var(--border-thickness) solid;
}

hr {
	margin: 2rlh;
	/* Specifies the thickness of the hr */
	height: var(--border-thickness);
	/* Removes the default border */
	border: none;
}

details {

	summary {
		list-style: none;
		cursor: pointer;
		position: relative;

		&::-webkit-details-marker {
			display: none; // Hide default arrow in browsers like Chrome or Safari
		}

		&::before {
			margin-left: -1lh;
			content: '';
			position: absolute;
			top: 0; // Position the chevron at the very top
			width: 1lh;
			height: 1lh;
			mask-image: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon"><path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/></svg>'); // Heroicons: chevron mini
		}

		+* {
			margin-block: 0.5lh; // change as per needs
		}


		time {
			font-variant-numeric: tabular-nums;
			margin-inline-end: 1rlh;
		}
	}

	&[open] summary::before {
		transform: rotate(90deg); // Rotate icon when details are open
	}
}